html{
  font-family: Helvetica;
  background-color: white;
  text-align: center;
}
h1{
	font-size: 70px;
}
.head{
	background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
	color: white;
}
h2{
	font-size: 32px;
}
h3{
	font-size: 23 px;
}
p{
	font-size: 14px;
}
#design{
	font-size: 23px;
	font-weight: bold;
}
.bottom{
	color: white;
	background-color: dimgray;
	font-size: 18px;
	text-align: left;
}
#mark{
	font-size: 11px;
}




.h{
  color: white;
}
.linked{
	color: Aquamarine;
	font-size: 16px;
}
#hh{
	font-weight: normal;
	font-size: 50px;
}
#header2{
	font-weight: 300;
	font-size: 42px;
}
.feature{
	font-size: 21px;
	color: Gray;
}
